.button {
    border-style: nome;
    height:40px;
    padding: 6px 12px;
    background-color: black;
    color: white;
    font-size: 1rem;
    cursor:pointer;
    transition: box-shadow .6s ease;
}

.button.blue {
    background-color: #1fb5ff;
}

.button.green {
    background-color: #13c666;
}

.button.red {
    background-color: #ff4949;
}

.button:hover {
    box-shadow: inset 200px 0 0 #00000055;
}