* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color:#ffba00;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'karla', sans-serif;
}

header {
    background-color: var(--primary-color);
    height: 70px;
    text-align: center;
    line-height: 70px;
    box-shadow: 0 1px 2px #ccc;
    
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width:90%;
    margin: 5vh auto;
    padding: 50px;
    box-shadow: 2px 2px 10px var(--primary-color);
    gap: 20px;

}

footer {
    background-color: violet;
}