.modal {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000090;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50vw;
    margin: 15vh auto;
    padding-bottom: 20px;
    background-color: white;
    box-shadow: 1px 1px 10px black;
}

.modal-header {
    display: flex;
    position: relative;
    justify-content: center;
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
}

.modal-header>span {
    position: absolute;
    right: 0;
}

.modal-close {
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: tomato;

}

.modal-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 20px;
}

.modal-field{
    
}

.modal-footer {
    background-color: inherit;
    text-align: right;
    padding: 0 20px;

}